---
# Handlers for monitoring role

- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Restart Prometheus
  systemd:
    name: prometheus
    state: restarted

- name: Restart Node Exporter
  systemd:
    name: node_exporter
    state: restarted

- name: Restart Grafana
  systemd:
    name: grafana-server
    state: restarted
